.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  font-size: 13px;
  margin-top: 20px;
}

.footer .center {
  font-weight: bold;
}
