/* src/App.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

.container {
  display: flex;
  width: 90vw;
  height: 90vh;
  margin: 30px auto;
  background-color: #f0f0f0;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
